@font-face {
    font-family: 'PixelNES';
    src: url('Pixel_NES.woff') format('woff'); /* URL is relative to the location of your CSS file */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Web437';
    src: url('Web437_NEC_APC3_8x16.woff') format('woff'); /* URL is relative to the location of your CSS file */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PerfectDOSVGA';
    src: url('Perfect DOS VGA 437 Win.ttf') format('truetype'); /* Use 'truetype' for .ttf files */
    font-weight: 400;
    font-style: normal;
}




body {
    font-family: 'Web437', sans-serif;

    background-color: #120a0c; /* Background color */
    color: #fef3ec; /* Skin Tone for main text */
    text-align: center;
    line-height: 1.2;
}

/*body::before {
    content: "";
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: -1; 

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(100px);

}
*/

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

header h1 {
/*    animation: pulse 2s infinite;*/
    color: #6bbad4; /* Eye Color for headers */
    font-size: 3rem;
    font-family: PixelNES;

}

@keyframes rainbow {
  0% {color: red;}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: green;}
  57% {color: blue;}
  71% {color: indigo;}
  85% {color: violet;}
  100% {color: red;}
}

@keyframes rainbowGradient {
    0% {background-position: 100%;}
    100% {background-position: 0%;}
}

.start-h {
    color: #e836a1; 
    font-size: 3.5rem;
    font-family: PixelNES;
    padding-left: 15px;
padding-right: 25px;
transition: 0.3s ease;
}

.start-h:hover {
/*    color: #ff6dc5;*/
    transition: 0.3s ease;
    text-shadow: 0px 5px #fbaddc;
}



header img {
    width: 150px;
    height: auto;
}



main h2 {
    text-decoration: underline;
    color: #e836a1; /* Hair Pink Highlight for sub-headers */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 10px 0;
    color: #fef3ec; /* Skin Tone */
}

a {
    color: #C9C1BB;
   transition: color 0.2s;
    text-decoration: none;
    transform: scale(1);
    display: inline-block;
    padding: 0px;
}

a:hover {
    color: #e836a1;
}

.small {
    font-family: PerfectDOSVGA;
    padding: 0;
    margin: 0 0 0 0;
}


body#rss {
    text-align: left;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.feed-item a {
    color: #fef3ec; /* Skin Tone for feed links */
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    transition: color 0.3s;
    font-family: 'PerfectDOSVGA';
}

.feed-item a:hover {
    color: #e836a1; /* Hair Pink Highlight on hover */
 
    /* Hair Black background on hover */
}


button {
    margin-left: 20px;
    cursor: pointer;
    background-color: #201e21;  /* Skin Tone from the provided color palette */
    border: 1px solid #c1c3c5; /* Earring Silver from the provided color palette */
    color: #fef3ec;             /* Hair Black from the provided color palette */
    transition: background-color 0.3s, transform 0.3s;
    font-family: Web437;
}

button:hover {
    background-color: #e836a1; /* Lip Color from the provided color palette */
}

.description {
    opacity: 75%;
    padding: 5px;  /* optional: adds a little space between the headline and the description */
}



.header-container {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.left-content {
    display: flex;
    align-items: center;
}


.profile-pic {
    width: 80px;
    height: 80px;
    margin-right: 15px; /* gives some spacing between the image and the button */
}


.rss-h {
    color: #f72491;
    padding-left: 25px;

}


.stuff {
    display: flex;
}


.quote {
    border: 0.5px solid #e836a1;
    padding: 20px 20px;
    margin-top: 10px;
}


.links {
    border: 0.5px solid;
    padding: 10px 20px;
    margin-top: 10px;
}   


.btc {
    margin-right: 10px;

}



.nyt-article-link {
   padding: 0;
    margin: 10px 0;
   display: block;
   color: #C9C1BB;
   transition: color 0.2s;
}

.nyt-article-link:hover {
    color: #e836a1;
}



.left {
    flex: 1;  /* 2 parts of the available space */
}

.right {
    flex: 1;  /* 1 part of the available space */
    margin-left: 10px;
}



@media (max-width: 600px) {
    .start-h {
        font-size: 2.5rem;
    }

    .stuff {
    display: block;
}

    .right {
    /* 1 part of the available space */
    margin-left: 0px;
}

    body#rss {
    padding-left: 20px;
    padding-right: 20px;
}

    .profile-pic {
        width: 60px;
        height: 60px;
        margin-right: 10px; /* gives some spacing between the image and the button */
    }

}

.star {
    width: 50px;
    height: 50px;
}


#quote {
 line-height: 1.4;
}



.linksss {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}


.linkss {
    display: flex;
    margin: 0;
    padding: 0;

}





.linksss a {
    margin-right: 35px;
}


.linkss p {
    margin: 0 10px 0 0;
    padding: 0 25px 0 0;
}


